body {
  margin: 0px;
  background-color: #fae7c7;
}

header {
  background-color: #fae7c7;
  border-bottom: 2px solid #00000030;
  box-shadow: 0 0 5px 2px #00000030;
  padding-left: 21px;
  display: flex;
}

.hamburger {
  padding-left: calc(100% - 550px);
  padding-top: 39px;
}

#logo {
  padding-top: 20px;
  padding-left: 21px;
}

#skills {
  display: none;
}

main {
  margin-top: 80px;
}

h1 {
  padding-left: 10px;
  margin-bottom: 10px;
}

.employee-management {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-right: 21px;
  padding-left: 21px;
}

th {
  background-color: #011c34;
  text-align: left;
  font-size: medium;
  color: white;
  padding: 10px;
}

td {
  background-color: rgb(217 192 168);
  text-align: left;
  font-size: medium;
  color: black;
  padding: 10px;
  height: 0vw;
}

table {
  width: 100%;
  padding: 20px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.update-modal,
.add-modal {
  display: none;
  background-color: aliceblue;
  max-width: 615px;

  margin: 63px auto;
}

.view-modal {
  display: none;
  background-color: aliceblue;
  max-width: 615px;
  margin-top: 30px;
  margin: 0 auto;
}

.modal-one,
.modal-add,
.modal-edit-view,
.modal-delete {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.view-modal form input {
  background-color: aliceblue;
}

.edit-input {
  width: 215px;
}

label {
  width: max-content;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

form {
  margin-bottom: 68px;
  margin: 48px auto;
  width: 300px;
  display: flex;
}

#modal-form {
  padding-left: 56px;
}

h2 {
  text-align: center;
  padding-top: 68px;
  color: black;
}

#label-add,
#inputs-add,
#label-edit-view,
#inputs-edit-view {
  display: flex;
  flex-direction: column;
}

#label-add,
#label-edit-view {
  gap: 29px;
  margin-left: -30px;
}

#inputs-add,
#inputs-edit-view {
  gap: 26px;
  margin-left: 10px;
}

#update-submit-button,
#add-submit-button {
  text-align: center;
  margin-left: 280px;
  margin-bottom: 50px;
}

#update-submit-button {
  display: none;
}

.success-img,
h4,
h3 {
  text-align: center;
}

.success-modal,
.success-modal-updation,
.delete-updation,
.success-modal-deletion {
  background-color: white;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  max-width: 587px;
  width: 100%;
  margin: 130px auto;
  overflow: auto;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 640px;
  line-height: 0.5px;
}

.success-modal h3 {
  font-size: 25px;
}

.add-success-button,
.fupdate-success-button,
.delete-success-button {
  background-color: #4fbf26;
  border-radius: 5px;
}

.success {
  text-align: center;
}

.buttons-confirmation {
  text-align: center;
}

#sort-button,
#filter-button,
.add-button {
  background-color: rgb(1, 28, 52);
  color: white;
  padding: 6px;
  font-weight: 600;
}

.sort-dropdown,
.filter-dropdown {
  display: inline-block;
  position: relative;
}

.sort-dropdown-options,
.filter-dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: white;
}
.sort-dropdown-options {
  width: max-content;
}

#button {
  padding-bottom: 5px;
}
.filter-dropdown:hover .filter-dropdown-options {
  display: block;
}

.sort-dropdown:hover .sort-dropdown-options {
  display: block;
}

#search-container-add {
  display: flex;
}

#id-sort,
#name-sort,
#des-filter,
#skill-filter {
  font-weight: 600;
  border: none;
  color: black;
  background-color: white;
  cursor: pointer;
}

#des-filter {
  padding-top: 9px;
}

#id-sort {
  padding-top: 10px;
}
#name-sort {
  padding-bottom: 10px;
}

#filter-skill-search {
  padding: 5px 5px;
  display: none;
  flex-wrap: wrap;
  width: 75px;
  overflow-y: scroll;
}

#filter-skill-search::-webkit-scrollbar {
  display: none;
}

#apply {
  display: none;
  margin: 2px auto;
}
#skill-container {
  padding-bottom: 7px;
  padding-left: 2px;
}

